/* src/components/Header.css */
.Header {
    background-color: #31323375; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 15px; /* Espaciado */
    display: flex;
    justify-content: space-between; /* Espaciado entre logo y navegación */
    align-items: center; /* Alinear verticalmente */
  }
  .logo-img {
    width: 70px; /* Ajusta el tamaño según tus necesidades */
    height: auto;
  }
  
  .Header-logo h1 {
    margin: 0; /* Sin margen */
  }
  
  .Header-nav ul {
    list-style: none; /* Sin viñetas */
    display: flex; /* Horizontal */
    margin: 0; /* Sin margen */
    padding: 0; /* Sin padding */
  }
  
  .Header-nav li {
    margin: 0 15px; /* Espaciado entre elementos de la lista */
  }
  
  .Header-nav a {
    color: #222325; /* Color de los enlaces */
    text-decoration: none; /* Sin subrayado */
  }
  
  .Header-nav a:hover {
    text-decoration: underline; /* Subrayado en hover */
  }
  